<a href="https://colab.research.google.com/github/JinseongKang/memo/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for y in a:
    print(y)

1
2
3
4

for 변수 in list 

리스트나 튜플, 문자열의 첫 번째 요소부터 마지막 요소까지 차례로 변수에 대입되는 것

체크 - for 이용한 거 다 복습해보기!!

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

range(len(a))는 range(4) 랑 똑같음

range(4)면 in [0,1,2,3] 이게 들어간거랑 같은 개념임. -> 0부터 4이전까지 출력해라,라는 뜻

a[0], a[1], a[2], a[3]이 출력될것임

1, 2, 3, 4 가 출력되는 것임.


# <응용> range에 숫자 두 개가 들어갈 경우.

여기서, 0부터4가 아니라 1부터 3까지 하고싶다 -> range(1,4) 라고 하면 됨!

a[1], a[2], a[3] 이 출력

so 2, 3, 4가 출력될것임.

만약 range(1,5)라고 한다면 에러가 나올 것임! - a[5]가 존재하지 않기 때문!

# <응용2> - range에 숫자 세 개가 들어갈 경우.

range(0, 4, 2) 라고 한다면 -> 0부터 4이전까지 2칸씩 띄어서 출력을 하라! 

so, 1, 3이 출력될 것임.

In [ ]:
a = ['kang', 'jin', 'seong', 'zzang']
for i in a:
    print(i)

kang
jin
seong
zzang

In [ ]:
a = ['kang', 'jin', 'seong', 'zzang']
for i in range(len(a)):
    print(a[i])

kang
jin
seong
zzang

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

스킵 - 안해도됨

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

스킵 - 안해도됨

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

체크 - else 옆에 : 있는 거 주의!

제어문이 두 개가 존재. 

하나는 loop : for 사용
다른 하나는 condition : if 사용

# if제어문

if ~ :

  무엇을 실행하라

else:

  무엇을 실행하라

  의 형식으로 이루어져 있다.

 if a == o: 할 때, 반드시 =가 아닌 == 로 적어줄 것!!

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

# for 루프가 여러번 도는 경우!!

첫번째 for를 보면, range(1,3)이니까 1이랑 2가 i에 루핑되어 적용되는 것.

두번째 for는, range(3,5)이니까 3이랑 4가 j에 루핑되어 프린트되는 것.

i가 1일 때 -> 3이랑 4가 출력

i가 2일 때 -> 3이랑 4가 출력

따라서 출력 값은, 

1*3 = 3

1*4 = 4

2*3 = 6

2*4 = 8

이 나오게 된다.

체크 - 'print가 몇번이 되느냐' 가 시험 문제가 될 수도 있음 - 4번인거겠지.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

# for 두개, if가 들어간 경우

range(1,3) 이니까 1,2가 루핑

range(3,5)이니까 3,4가 루핑

j가 4 이상인 경우만 i*j값을 프린트 하는거니까

1*4 = 4

2*4 = 8

이 출력된다.

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

# for가 리스트 안에 들어가있는 경우.

a에서 루핑하는 i를 b라는 리스트로 만드는 케이스이다.

i는 a에서 오는 거니까, 1, 2, 3, 4가 출력되는데, 

이 중 if 조건에 부합하는 2 이상인 요소들 2, 3, 4가 b라는 리스트로 생성될 것이다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

i는 a의 요소들이 루핑되는 것 -> i는 red, green, blue, purple이 출력될 것

 이중 if 조건에 부합하는 것: 4글자 이상인 것이 출력.


 체크 - 다 숙지하기 이번 파일에 있는 것들.