<a href="https://colab.research.google.com/github/JinseongKang/memo/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1.2 
print(type(a))

<class 'float'>

두 개의 함수가 쓰였다. 

Type이라는 함수와 print라는 함수!

int = 정수

float = 소수

In [ ]:
a = 5 ; a = float(a); print(type(a))

<class 'float'>

a는 5인데 

5.0이라는 float로 바꾸고 type을 출력하는거니까

<class 'float'>가 나옴.

In [ ]:
a = 1.7; a = int(a); print(type(a))

<class 'int'>

a = 1.7이라는 float인데

이걸 int로 하면 반올림 -> 2 가 나오고 이것의 type은 int

In [ ]:
a = '3423'; print(type(a)); print(a[2])

<class 'str'>

'2'

a가 '3423'이라는 문자열 -> str

a[2]면 문자열 중 세번째 -> 2가 출력.

In [ ]:
a = '2425'; a = list(a); print(type(a)); print(a); print(a[3])

<class 'list'>
['2', '4', '2', '5']

'5'

'2425'라는 문자열을 리스트화 하면 -> [2,4,2,5]가 되고 

이것의 type은 list

출력하면 리스트 자체가 출력, 

네번째요소는 5

In [ ]:
a = ['43', '56', ['12', '45']]; print(type(a)); print(a[2]); print(a[1]); print(a[0])

<class 'list'>
['12', '45']
56
43

List를 가지고 시험문제를 왕창 낼 것이다!

만약, 여기서 print(a[2][1][1]) 이라고 시험 문제가 나오면, 

3번째인 ['12', '45'] -> 그 중 2번째인 '45' -> 그 중 2번째인 5가 최종적으로 출력된다!!!!!!!!!!!!!!!! 밑에 예시.

In [1]:
a = ['1', '2', '3', ['23', '24']]
print(a[3][1][1])

4

이거 중요!!!!!

In [ ]:
a = ('43', '56', ['12', '45']); print(type(a)); print(a[2]); print(a[1]); print(a[0])

<class 'tuple'>
['12', '45']
56
43

튜플과 리스트의 차이점? 

튜플은 요소를 바꿀 수가 없다 = 리스트에 비해 안전하다. 


Ex)

a = [1, 2, 3] 

a = -1 

a 

[-1, 2, 3] 

이런식으로 요소를 바꾸는 것이 list는 가능한데, 튜플은 불가능함!

In [ ]:
a =	{"month": "03", "day": "16", "year": 2021}
print(type(a))
print(a["year"])

<class 'dict'>
2021

dict = dictionary 형태 = { 이런 형태 } = 사전과 같은 것

리스트는 [   ]

튜플은 (   )

In [ ]:
a=[(13,23,34), (33,82,3)]
print(type(a))
a

<class 'list'>

[(13, 23, 34), (33, 82, 3)]